@model LojaInfo.Models.Dominio.Produto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário de Cadastro de Produto</title>
    <link href="https://fonts.googleapis.com/css?family=Hind|Lato|Open+Sans" rel="stylesheet">
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
        body{
            background-image: url(https://lh6.googleusercontent.com/-wqXZY01-Eg8/VDLxUic5S2I/AAAAAAAAFac/NqNKZLcFO8M/s0/fundos%252520%252528211%252529.JPG);
            background-size: 100%;
        }
        header {
            padding: 50px 0px;
            position: fixed;
            top: 0px;
            width: 100%;
            background-color: rgba(0,0,0,.7);
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: white;
            
        }
        main form{
            margin-top: 150px;
            background-color: #fff;
            width: 50%;
            padding: 10px;
            box-shadow: 5px 5px 10px #000;
            margin-left: auto;
            margin-right: auto;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px; 
        }
        main form label,input{
            display: block;
            margin: 5px;
        }
        main form label{
            font-family: 'Hind', sans-serif;
            font-weight: bold;
            font-size: 12pt;
        }
        main form input[type=text]{
            width: 90%;
            padding: 10px;
            font-family: 'Hind', sans-serif;
        }   
        main form input[type=submit]{
            margin-top: 40px;
            border: 0px;
            background-color: rgb(56, 56, 223);
            color: white;
            padding: 15px;
            border-radius: 0px;
            transition: ease 1s;

        }
        main form input[type=submit]:hover{
            background-color: darkblue;
            cursor: pointer;
            border-radius: 20px;
            
        }


    </style>
</head>
<body>
    <header>
        <h1>Cadastro de Produto</h1>
    </header>
    <main>
        <!-- 
            Nesta parte do código, nós criamos o formulário para cadastro de dados do cliente.
            Usamos o comando Razor(using) para dizer que queremos usar o BeginForm e iniciar a criação do formulário.
            Neste formulário foi setado o nome do método que cadastra as informações do cliente, o Controlador(Cliente)
            e método de envio de dados(FormMethod.Post)

            Para vincular as caixas de texto do formulário a classe Cliente do Domínio, foi utilizado o comando de 
            Razor(TextBoxFor). Assim é possivel "amarrar" o que o usuário digita ao atributo da classo Cliente. Foi
            usada a tecnica lambda(M => m.Nome)
            -->
        
        @using(Html.BeginForm("Cadastro","Produto",FormMethod.Post)){
            <label>Nome Do Produto:</label>
            @Html.TextBoxFor(m => m.NomeProduto)

            <label>Tipo:</label>
            @Html.TextBoxFor(m => m.Tipo)

            <label>Preço:</label>
            @Html.TextBoxFor(m => m.Preco)

            <label>Quantidade:</label>
            @Html.TextBoxFor(m => m.Quantidade)

            <input type="submit" value="Realizar Cadastrado">
        }
    </main>
    
</body>
</html>