<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciar de Produtos</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Unica+One|Roboto+Mono|Open+Sans+Condensed:300|Lobster|Julius+Sans+One" rel="stylesheet">
    
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        header{
            padding: 20px 0px;
            background-color: rgb(0,0,0);
            color:rgba(255,255,255,8);
            text-align: center;
        }
        header nav{
            background-color: rgb(255,0,0);
            margin:10px;
            padding: 10px 0px;
        }
        header nav ul{
            list-style: none;
        }
        header nav li{
            display: inline-block;
            padding: 0px 10px;
        }
        header nav li a{
            text-decoration: none;
            font-family: 'Open Sans Condensed', sans-serif;
            color: rgb(255,255,255);
            font-size:20pt;
        }
        header nav li a:hover{
            color:rgb(255,150,0);
        }

        header h1{
            font-family: 'Open Sans', sans-serif;
        }
        main {
            font-family: 'Roboto+Mono', cursive;
            font-size: 20pt;
            text-align: center;
        }
        footer{
            font-family: 'Open+Sans+Condensed:300', cursive;
            background-color:rgb(0,0,0);
            position: fixed;
            bottom: 0px;
            width: 100%;/*largura em 100%*/
            padding: 15px 0px;
            text-align: center;
            color: rgb(255,255,255);
        }
        main img{
            width: 60%;
            height: auto;
        }
        </style>
        
</head>
<body>
    <header>
        <h1>Gerenciar Produtos</h1>
        <nav>
            <ul>
                <!--
                    Nesta página vamos usar os comandos Razor(uma forma de utilizar) C#
                        com html segyindo o padrão da arquitetura mvc.
                        Abaixo usamos o comando Razor para criar um link com ActionLink.
                        Para usar o Razor, você sempre utilizará (arroba) antes dos comandos.
                        ActionLink cria um link fazendo uso do controlador e o método presente dentro
                        deste. Neste caso temos um método FormCadstro que está no controlador Cliente.
                        Para acessá-lo criar um link chamado Cadastro.


                    -->
                <li>@Html.ActionLink("Cadastro","FormCadastro")</li>
                
                <li><a asp-controller="Produto" asp-action="Atualizar">Atualizar</a></li>
                
                <li><a asp-controller="Produto" asp-action="Deletar">Deletar</a></li>
                
                <li><a asp-controller="Produto" asp-action="Listar">Lista</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section >
            <p>Bem Vindo ao Gerenciador de Produtos</p>
            <img src="https://thumbs.dreamstime.com/z/%CF%85%CF%80%CE%B5%CF%81%CE%B1%CE%B3%CE%BF%CF%81%CF%8E%CE%BD-%CF%80%CE%B1%CE%BD%CF%84%CE%BF%CF%80%CF%89-%CE%B5%CE%AF%CF%89%CE%BD-%CE%B5%CE%B9%CE%BA%CE%BF%CE%BD%CE%AF-%CE%B9%CE%B1-%CE%BA%CE%B9%CE%BD%CE%BF%CF%8D%CE%BC%CE%B5%CE%BD%CF%89%CE%BD-%CF%83%CF%87%CE%B5-%CE%AF%CF%89%CE%BD-%CE%B1%CE%B3%CE%BF%CF%81%CF%8E%CE%BD-%CF%84%CE%B1-%CE%B1%CE%BD%CE%B1-88910261.jpg" alt="Imagem Produtos">
        </section>
    </main>
    <footer>
        <p>Todos os direitos reservados ao proprietário do Produtos</p>
    </footer>
    
</body>
</html>